In [1]:
import pandas as pd

data = pd.read_csv('data.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [4]:
parch = data[data['Parch'] > 0]
len(parch)

213

In [10]:
first_class = len(data[data['Pclass'] == 1])
all_people = len(data.index)
proportion = first_class/all_people

In [11]:
proportion

0.24242424242424243

In [12]:
all_people

891

In [13]:
survived = len(data[data['Survived'] == 1])
survived_stat = survived/all_people

In [14]:
print(survived_stat)

0.3838383838383838

In [17]:
first_class_survivors = data[(data['Survived'] == 1) & (data['Pclass'] == 1)]
print(len(first_class_survivors))

136

In [19]:
print(len(first_class_survivors)/first_class)

0.6296296296296297

In [20]:
average_age = data['Age'].mean()
print(average_age)

29.69911764705882

In [21]:
median_age = data['Age'].median()
print(median_age)

28.0

In [22]:
common_age = data['Age'].mode()
print(common_age)

0    24.0
dtype: float64

In [23]:
average_fare = data['Fare'].mean()
higher_fare = len(data[data['Fare'] > average_fare])
print(higher_fare)

211